@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

img {
  height: 300px;
  width: 300px;
}

#navb-logo {
  height: 30px;
  width: 30px;

}
.navbar {
  height: auto;
  

}
